apiVersion: v1
kind: ServiceAccount
metadata:
  name: adk-agent-sa
  namespace: quickstart-ns
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: adk-agent
  namespace: quickstart-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adk-agent
  template:
    metadata:
      labels:
        app: adk-agent
    spec:
      serviceAccountName: adk-agent-sa
      containers:
        - name: adk-agent
          imagePullPolicy: Always
          # TODO: Replace with the image from registry.k8s.io/agentic-net registry after https://github.com/kubernetes-sigs/kube-agentic-networking/issues/41 is done.
          image: <PLACEHOLDER_FOR_ADK_AGENT_IMAGE>
          resources:
            limits:
              memory: "512Mi"
              cpu: "1"
              ephemeral-storage: "128Mi"
            requests:
              memory: "512Mi"
              cpu: "1"
              ephemeral-storage: "128Mi"
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: ENVOY_SERVICE
              # The service name is generated by hashing the Gateway's namespace and name (e.g., envoy-proxy-<hash>)
              value: "envoy-proxy-3e11a0abd055.quickstart-ns.svc.cluster.local:10001"
            - name: GOOGLE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: google-secret
                  key: google-api-key
---
apiVersion: v1
kind: Service
metadata:
  name: adk-agent-svc
  namespace: quickstart-ns
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: adk-agent
