apiVersion: v1
kind: ServiceAccount
metadata:
  name: adk-agent-sa
  namespace: quickstart-ns
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: adk-agent
  namespace: quickstart-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adk-agent
  template:
    metadata:
      labels:
        app: adk-agent
    spec:
      serviceAccountName: adk-agent-sa
      containers:
        - name: adk-agent
          image: us-central1-docker.pkg.dev/k8s-staging-images/agentic-net/quickstart-adk-agent:main
          imagePullPolicy: Always
          resources:
            limits:
              memory: "512Mi"
              cpu: "1"
              ephemeral-storage: "128Mi"
            requests:
              memory: "512Mi"
              cpu: "1"
              ephemeral-storage: "128Mi"
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: ENVOY_SERVICE
              # The service name is generated by hashing the Gateway's namespace and name (e.g., envoy-proxy-<hash>)
              value: "envoy-proxy-3e11a0abd055.quickstart-ns.svc.cluster.local:10001"
            - name: HF_MODEL
              value: "huggingface/deepseek-ai/DeepSeek-R1-0528"
            - name: HF_TOKEN
              valueFrom:
                secretKeyRef:
                  name: hf-secret
                  key: hf-token-key
---
apiVersion: v1
kind: Service
metadata:
  name: adk-agent-svc
  namespace: quickstart-ns
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: adk-agent
